<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="1.4.3" targetFramework="net452" />
  <package id="Nancy.Authentication.Token" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Bootstrappers.Ninject" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Hosting.Aspnet" version="1.4.1" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net452" />
  <package id="Ninject.Extensions.ChildKernel" version="3.2.0.0" targetFramework="net452" />
  <package id="ServiceStack.Common" version="4.0.54" targetFramework="net452" />
  <package id="ServiceStack.Interfaces" version="4.0.54" targetFramework="net452" />
  <package id="ServiceStack.Redis" version="4.0.54" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.0.54" targetFramework="net452" />
</packages>