<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <appSettings>
    <add key="owin:HandleAllRequests" value="true" />
    <add key="OSSID" value="iUm6CIbHvKEZ4NHb" />
    <add key="OSSSecret" value="nU0j3RoTrxestrsjnhwg74i5upInO3" />
    <add key="OSSBucketName" value="u4cn" />
    <add key="OSSBucketName_Case" value="u4cn-case" />
    <add key="OSSBucketName_Service" value="u4cn-service" />
    <add key="X-AVOSCloud-Application-Id" value="psXwYW3jf9CfSjnjJYqwFTWj" />
    <add key="X-AVOSCloud-Application-Key" value="9b43f1ltQnSu34BVuV0KK6hv" />
  </appSettings>

  <connectionStrings>
    <add name="RedisServer" connectionString="z5@localhost:6379" />
    <add name="MongoServer" connectionString="mongodb://localhost/Swallow:27018" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject.Extensions.ChildKernel" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
