body {padding-top: 50px; padding-bottom: 20px;}
input, select, textarea {max-width: 280px;}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
    @media (min-width: 768px) {
        z-index: 10 !important;
    }
    p {font-size: 20px;line-height: 1.4;}
}

@import "var";
@import "com";
@import "_bootstrap_customize";
form.navbar-right{margin-right: 0;}

span.field-validation-error{color:red;}
